@import "./colors.scss";

//Layouts
@import "../layouts/BasicLayout/BasicLayout.scss";

//Components
@import "../components/header/Header.scss";
@import "../components/header/topbar/Topbar.scss";
@import "../components/header/menu/Menu.scss";
@import "../components/modal/BasicModal/BasicModal.scss";