@import "./colors.scss";

//Layouts
@import "../layouts/BasicLayout/BasicLayout.scss";

//Components
@import "../components/header/Header.scss";
@import "../components/header/topbar/Topbar.scss";
@import "../components/header/menu/Menu.scss";
@import "../components/modal/BasicModal/BasicModal.scss";
@import "../components/auth/LoginForm/Login.scss";
@import "../components/account/ChanceNameForm/ChangeNameForm.scss";
@import "../components/account/ChanceEmailForm/ChanceEmailForm.scss";
@import "../components/account/ChancePasswordForm/ChancePasswordForm.scss";
@import "../components/account/AddressForm/AddressForm.scss";
@import "../components/account/ListAddress/ListAddress.scss";
@import "../components/ListGames/ListGames.scss";
@import "../components/pagination/Pagination.scss";
@import "../components/game/HeaderGame/HeaderGame.scss";

//Pages
@import "../pages/account.scss";
@import "../pages/index.scss";
@import "../pages/games/platform.scss";
