.basic-modal{
    .header{
        background-color: $primary !important;
        display: flex !important;
        align-items: center !important;
        justify-content: space-between !important;

        span, i{
            color: $font-light;
        }

        i{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            font-size: 25px;
            margin: 0;

            &:hover{
                cursor: pointer;
            }
        }

    }
}